.body {
  position: absolute;
  width: 100%;
  height: 100%;
}

#imgLogo {
  width: 500px;
  height: 400px;
  position: absolute;
  top: 15%;
  left: 20%;
  opacity: 30%;
}
.main {
  background-color: white;
  width: 70%;
  height: 350px;
  border-radius: 20px;
  margin-left: 15%;
  margin-top: 10%;
  opacity: 85%;
  text-align: center;
}
